*{
    margin:0px;
    font-family: "inter";
}
    #logo{
    margin-top: 40px;
    margin-left: 30px;

    }

    #Título-menusuperior{
        margin-left:125px ;
        margin-top: 70px;
    }
    #Texto-menusuperior{
        margin-left:125px ;
        padding-bottom: 80px;
        margin-top:100px;
    }

    #menusuperior{
        background-image: url(imagens/fundo-menusuperior.svg);
        color: aliceblue;
    }
    #menuinformacional{
        background-color: #EAECE5;
        display: grid;
        grid-auto-flow: column;
        columns: auto;
    }
    

    .icone{

        margin: 25px 0px 50px 50px;
        padding: 5px;


    }

    #video{
        display: grid;
        grid-auto-flow: column;
        columns:auto;
    }

    .textoinformativo{

        margin: 50px 50px 50px 65px;
        display: flex;
        align-items:center ;
    }

    #titulo-video{
        color:#247BA0;
        margin: 50px;
    }

    #Monogâmico{
    margin: 20px 25px 50px 100px ;    
    }

    #carrossel{
        background-color: #247BA0;
        padding: 50px;

    }
    #titulo-carrossel{
        color: aliceblue;
        text-align: center;
        font: size 20px; ;
    }

    #div-cards{
        margin-top:25px ;
        display: grid;
        grid-auto-flow: column;
    }

    .cards{
        margin-left: 50px;
    }

    #seta-esquerda{
    display: none;

    }

    #bruna{

        display: none;
    }
 
    .seta{

        margin-top: 55%;
        cursor: pointer;
    }
    
    .seta:hover{
       transform:translateY(-7px);
       transition-duration: 0,8s;

    }
    #formulario{
    text-align: center;

    }

    
    #titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color:#383838;
    }

    input{
        Width:300px;
        Height:40px;
        background-color:#EAECE5;
        margin: 15px;
        border:0px;
        border-radius: 5px;
        padding-left: 10px;
    }
    button{
        background-color: #247BA0;
        Height:40px;
        Width:250px;
        color:#EAECE5;
        border:0px;
        border-radius: 5px;
        margin-bottom:50px;
        font-weight:bolder;
        cursor: pointer;
    }
    button:hover{
        background-color: #3aa4d1;
        color: white;
        transform: translateY(-7px);
        box-shadow: 0px 5px 20px #144155a6 ;
        transition-duration: 0.5s;
    }